@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

body{
    background: #3b444b;
}

nav{
    height: 80px;
    width: 100%;
    background: #ff0;
}

label.title{
    font-size: 40px;
    font-weight: bold;
    padding: 0px 75px;
    line-height: 80px;;
}

nav ul{
    float: right;
    margin-right: 25px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: black;
    font-size: 18px;
    /* text-transform: uppercase; */
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active{
    border: 3px solid black;
    background: #fff4e1;
}

a:hover{
    background: #c0c0c0;
}